body.login {
}

body.login div#login {
}

body.login div#login h1 {
}

body.login div#login h1 a {
}

body.login div#login form#loginform {
}

body.login div#login form#loginform p {
}

body.login div#login form#loginform p label {
}

body.login div#login form#loginform input {
}

body.login div#login form#loginform input#user_login {
}

body.login div#login form#loginform input#user_pass {
}

body.login div#login form#loginform p.forgetmenot {
}

body.login div#login form#loginform p.forgetmenot input#rememberme {
}

body.login div#login form#loginform p.submit {
}

body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #989898;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 36px 2px;
    text-shadow: none;
}

body.login div#login p#nav {
}

body.login div#login p#nav a {
}

body.login div#login p#backtoblog {
}

body.login div#login p#backtoblog a {
}

p#nav {
    display: none;
}

p#backtoblog {
    display: none;
}